body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

header {
    background-color: green;
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: green;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: green;
}

main {
    margin: 20px;
}

#featured-humans {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.human-profile {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.human-profile img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: green;
    padding: 10px;
    color: white;
}

body {
    font-size: 25px; /* Basis-Schriftgröße */
}
@media (min-width: 768px) {
    body {
        font-size: 25px; /* Größere Schriftgröße für größere Bildschirme */
    }
}
@media (min-width: 1024px) {
    body {
        font-size: 25px; /* Noch größere Schriftgröße für noch größere Bildschirme */
    }
}
                            