body {
    font-family: Arial, sans-serif;
    background-image: url("/images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 25px; /* Basis-Schriftgröße */
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

header {
    background-color: rgb(146, 121, 11);
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(146, 121, 11);
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgb(120, 100, 10);
}

main {
    margin: 20px;
}

footer {
    background-color: rgb(146, 121, 11);
    padding: 10px;
    color: white;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input, textarea, select {
    width: 80%; /* Reduziert die Breite auf 80% */
    max-width: 500px; /* Optional: maximale Breite */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: auto; /* Zentriert das Element */
    margin-right: auto; /* Zentriert das Element */
    display: block; /* Zentriert das Element */
}

button {
    width: 80%;
    max-width: 500px; /* Optional: maximale Breite */
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto; /* Zentriert das Element */
    margin-right: auto; /* Zentriert das Element */
    display: block; /* Zentriert das Element */
}

button:hover {
    background-color: #218838;
}

@media screen and (min-width: 710px) {
    body {
        font-size: 25px; /* Größere Schriftgröße für größere Bildschirme */
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 27px; /* Noch größere Schriftgröße für noch größere Bildschirme */
    }
}

#featured-animal {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
    
.animal-profile {
    background-color: rgb(146, 121, 11);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.animal-profile img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    border-radius: 5px;
}

.animal-profile img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
