body {
    font-family: Arial, sans-serif;
    background-image: url("/images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

header {
    background-color: rgb(146, 121, 11);
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(146, 121, 11);
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgb(146, 121, 11);
}

main {
    margin: 20px;
}

#featured-animal {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.animal-profile {
    background-color: rgb(146, 121, 11);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.animal-profile img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: rgb(146, 121, 11);
    padding: 10px;
    color: white;
}

body {
    font-size: 25px; /* Basis-Schriftgröße */
}
@media screen and (min-width: 710px) {
    body {
        font-size: 25px; /* Größere Schriftgröße für größere Bildschirme */
    }
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 27px; /* Noch größere Schriftgröße für noch größere Bildschirme */
    }
}

.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}