/* Allgemeine Stile für die gesamte Seite */
body {
    font-family: Arial, sans-serif;
    background-image: url("/bilder/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 16px;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

/* Header-Stile */
header {
    background-color: rgb(146, 121, 11);
    padding: 20px;
    color: white;
}

/* Navigationsstile */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(146, 121, 11);
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgb(120, 100, 10);
}

/* Main-Content-Stile */
main {
    margin: 20px;
}

/* Footer-Stile */
footer {
    background-color: rgb(146, 121, 11);
    padding: 10px;
    color: white;
}

/* Überschrift-Stile */
h1 {
    text-align: center;
}

/* Formularfeld-Stile */
label {
    display: block;
    margin: 15px 0 5px;
}

input, textarea, select, button {
    width: 100%; /* Volle Breite für Input-Felder */
    max-width: 500px; /* Maximale Breite der Input-Felder */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto; /* Zentrieren der Input-Felder */
    display: block;
}

/* Button-Stile */
button {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Abstand nach oben */
}

/* Stile für größere Bildschirme */
@media screen and (min-width: 710px) {
    body {
        font-size: 25px; /* Größere Schriftgröße für größere Bildschirme */
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 27px; /* Noch größere Schriftgröße für noch größere Bildschirme */
    }
}